<div class="homepage-layout__layout-choice__layout-a-top">
    <section class="module container alt-one-up alt-one-up--first-grantee ">
        <div class="alt-one-up__block alt-one-up__image alt-one-up__image--right alt-one-up__image--first-grantee">
            <a tabindex="-1" aria-hidden="true">
                <img src="/assets/contact_1.jpg" alt=" ">
            </a>
        </div>
        <div class="alt-one-up__info alt-one-up__block">
            <p class="eyebrow ">Contact</p>
            <p class="alt-one-up__copy">Onze drumband treed regelmatig op, wees dus op tijd om ons te reserveren.
                Datums voor optredens kunnen vastgelegd worden bij de drumbandleiding. Stuur gerust een mailtje naar
                ons!
                <span>j</span>
                <span>e</span>
                <span>n</span>
                <span>s</span>
                <span>m</span>
                <span>a</span>
                <span>l</span>
                <span>f</span>
                <span>a</span>
                <span>i</span>
                <span>t</span>
                <span>@</span>
                <span>g</span>
                <span>m</span>
                <span>a</span>
                <span>i</span>
                <span>l</span>
                <span>.</span>
                <span>c</span>
                <span>o</span>
                <span>m</span>
            </p>
        </div>
    </section>
</div>