<mat-toolbar class="mat-elevation-z6">
  <div class="titlecontainer" [routerLink]="['/']">
      <span class="title">Drumband</span>
      <span class="subtitle">Padvinders van Sint-Joris</span>
  </div>
  <span class="example-fill-remaining-space"></span>
  <button mat-button [routerLink]="['/calendar']">Optredens</button>
  <button mat-button [routerLink]="['/scores']">Liedjes</button>
  <button mat-button [routerLink]="['/contact']">Contact</button>
</mat-toolbar>

<div class="sidenav-content">
  <router-outlet></router-outlet>
</div>
