.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.sidenav-content {
  position:absolute;
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.sidenav-content::-webkit-scrollbar {
  display: none;
}

mat-toolbar {
  background-color: #3e78b2;
}

mat-toolbar > button:hover {
  background-color: #1439cd;
}

.title {
  color: #f5ce33;
  float: left;
  clear: left;
  font-size: large;
}

.subtitle {
  color: #f5ce33;
  float: left;
  clear: left;
  padding-left: 15px;
  font-size: small;
}
