.example-fill-remaining-space {
  flex: 1 1 auto;
}

.sidenav-content {
  position: absolute;
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.sidenav-content::-webkit-scrollbar {
  display: none;
}

mat-toolbar {
  background-color: #fff;
}

.logo {
  width: 100px;
  height: 50px;
}

.burger {
  width: 25px;
  height: 30px;
}

p {
  font-family: Lato;
}

.mat-sidenav-container {
  background: rgba(0, 0, 0, 0.08);
}

.blank-grow {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}