.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.sidenav-content {
  position:absolute;
  top: 65px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.sidenav-content::-webkit-scrollbar {
  display: none;
}