  
  .example-header-image {
    background-image: url('http://www.padvindersvansintjorisizegem.be/sites/default/files/styles/blog/public/scouts.JPG');
    background-size: cover;
  }

  .wrapper {
    margin: 10px auto;
  }