<div class="homepage-layout__layout-choice__layout-a-top">
  <section class="module container alt-one-up alt-one-up--first-grantee ">
    <div class="alt-one-up__block alt-one-up__image alt-one-up__image--right alt-one-up__image--first-grantee">
      <a tabindex="-1" aria-hidden="true">
        <img src="/assets/img/home_1.jpg" alt=" ">
      </a>
    </div>
    <div class="alt-one-up__info alt-one-up__block">
      <p class="eyebrow ">Muziek</p>
      <h1 class="alt-one-up__title alt-one-up__title--first-grantee">Drumband voor jong en oud</h1>
      <p class="alt-one-up__copy">Reeds menige jaren staat de drumband van de Padvinders van Sint-Joris paraat voor
        optredens in en rond Izegem. Met
        onze roots in de jeugdbeweging zijn wij vooral een jong muziek ensemble al komen er toch af en toe ervaren
        rotten
        ons ondersteunen. Wil jij ook graag deel uitmaken van onze muziekale groep, neem dan zeker contact met ons op.</p>
    </div>
  </section>
</div>
<div class="homepage-layout__layout-choice__layout-a-top">
  <section class="module container homepage-module alt-one-up alt-one-up--featured-grantee ">
    <div class="alt-one-up__block alt-one-up__image alt-one-up__image--left alt-one-up__image--featured-grantee">
      <a tabindex="-1" aria-hidden="true">
        <img src="/assets/img/image_0.jpg" alt=" ">
      </a>
    </div>
    <div class="alt-one-up__info alt-one-up__block">
      <p class="eyebrow ">Geschiedenis</p>
      <h1 class="alt-one-up__title alt-one-up__title--featured-grantee">Reeds 60 jaar!</h1>
      <p class="alt-one-up__copy">Onze groep, opgericht rond 1958, beginnend als blokfluit ensemble waarna dit is
        uitgebreid met trommels en klaroenen.
        Op heden zijn wij uitgebreid tot een groep met landsknechten, snare drums, grosket, lyra, cymbalen en klaroens!
      </p>
    </div>
  </section>
</div>
<div class="homepage-layout__layout-choice__layout-a-top">
  <section class="module container alt-one-up alt-one-up--first-grantee ">
    <div class="alt-one-up__block alt-one-up__image alt-one-up__image--right alt-one-up__image--first-grantee">
      <a tabindex="-1" aria-hidden="true">
        <img src="/assets/img/home_3.jpg" alt=" ">
      </a>
    </div>
    <div class="alt-one-up__info alt-one-up__block">
      <p class="eyebrow ">Repetities</p>
      <h1 class="alt-one-up__title alt-one-up__title--first-grantee">Zaterdag van 13u15 tot 14u15</h1>
      <p class="alt-one-up__copy">Trommel, landsknecht, lyra of klaroen bij ons kan je ze allemaal eens uitproberen.
        Wil jij er graag eens bij zijn tijdens een van onze repetities?
        Stuur dan zeker een berichtje naar een van onze leiding of leden en wij nodigen jou uit op de volgende
        repetitie. Tot dan :)</p>
    </div>
  </section>
</div>
